
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı Paneli</title>
</head>
<body>
    <h1>Kullanıcı Paneli</h1>
 
    <script>
        function openNewWindow() {
        
            window.open("dashboard.html", "_blank");
        }
        
    </script>
    <a href="{{ url_for('show_profile', email=current_user.email) }}">Profilim</a>
</body>
</html>
